extends layout

block content
  h1= title

  script.
    function buy(index) {
      alert("You purchased items " + (index+1));
    }

  div.container-fluid
    div.row.m-1
      - let result = results
      each electronics, index in result
        - let destination = `/mobiles/update?id=${electronics._id}`
        div.col-sm-2.m-1(onclick=`buy(${index})`)
          p Product Name: #{electronics.productName}
          p Brand: #{electronics.brand}
          p Price: #{electronics.price}
          button.btn-primary.ml-1(onclick=`dispatch('${destination}')`) Update

  script.
    function dispatch(path) {
      window.location.href = path;
    }
