extends layout

block content
  h1= title
  
  

  script.
    function buy(index){
      alert("You purchased items " + (index+1));
    }

  div.container-fluid
    div.row
      - let result = results
        each electronics, index in result
            div.col-sm-2(onClick = `buy(${index})`)
                p Product Name:  #{electronics.productName}
                p Brand: #{electronics.brand}
                p Price: #{electronics.price}

